vim/autoload
vim/bundle
vim/doc
vim/plugin
.uuid
bin/repo
nvim/lazy-lock.json
fonts/Pragmata\ Pro
vim/.netrwhist
.dotfiles_role
node_modules
docs/.vitepress/cache
docs/.vitepress/dist
__pycache__
elektra/
fonts/Neue Machina*
testResults.xml
